{% extends "head.html" %}
{% load static %}
{% block title_block %}
	<title>Reservaciones</title>
{% endblock title_block %}
{% block content_block %}
	<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url({% static 'images/bg-title-page-02.jpg' %});">
		<h2 class="tit6 t-center">
			Reservaciones Hechas
		</h2>
	</section>
	<section class="section-reservation bg1-pattern p-t-100 p-b-113">
		<div class="container">
			<h3>Reservaciones</h3><br><br>
			<div class="row">
				<div>
					<ol>
						{% for reservacion in reservaciones %}
						   	<li>{{reservacion.nombre_reservacion}}</li>
						{% endfor %}
					</ol>
				</div>
			</div>
		</div>
	</section>
{% endblock content_block %}