{% load static %}
<!-- Sidebar -->
	<aside class="sidebar trans-0-4">
		<!-- Button Hide sidebar -->
		<button class="btn-hide-sidebar ti-close color0-hov trans-0-4"></button>
		<h3>
			{% if request.user.is_authenticated %}
				Bienvenido {{request.user}}
			{% endif %}
		</h3>
		<!-- - -->
		<ul class="menu-sidebar p-t-95 p-b-70">
			<li class="t-center m-b-13">
				<a href="{% url 'index' %}">Principal</a>
			</li>

			<li class="t-center m-b-13">
				<a href="{% url 'productos:menu' %}">Menu</a>
			</li>

			<li class="t-center m-b-13">
				<a href="{% url 'principal:reservacion' %}">Reservacion</a>
			</li>

			<li class="t-center m-b-13">
				<a href="{% url 'nosotros:acerca' %}">Aserca de</a>
			</li>

			<li class="t-center m-b-13">
				<a href="{% url 'nosotros:nosotros' %}">Contactanos</a>
			</li>

			<li class="t-center m-b-13">
				{% if request.user.is_authenticated %}
					<a href="{% url 'usuarios:logout' %}">Cerrar Sesión</a
				{% else %}
					<a href=" {% url 'usuarios:login' %} ">Inicia Sesión</a>			
				{% endif %}
			</li>
		</ul>

		<!-- - -->
		<div class="gallery-sidebar t-center p-l-60 p-r-60 p-b-40">
			<!-- - -->
			<h4 class="txt20 m-b-33">
				Galeria
			</h4>

			<!-- Gallery -->
			<div class="wrap-gallery-sidebar flex-w">
				<a class="item-gallery-sidebar wrap-pic-w" href="{% static 'images/photo-gallery-01.jpg' %}" data-lightbox="gallery-footer">
					<img src="{% static 'images/photo-gallery-thumb-01.jpg' %}" alt="GALLERY">
				</a>

				<a class="item-gallery-sidebar wrap-pic-w" href="{% static 'images/photo-gallery-02.jpg' %}" data-lightbox="gallery-footer">
					<img src="{% static 'images/photo-gallery-thumb-02.jpg' %}" alt="GALLERY">
				</a>

				<a class="item-gallery-sidebar wrap-pic-w" href="{% static 'images/photo-gallery-03.jpg' %}" data-lightbox="gallery-footer">
					<img src="{% static 'images/photo-gallery-thumb-03.jpg' %}" alt="GALLERY">
				</a>

				<a class="item-gallery-sidebar wrap-pic-w" href="{% static 'images/photo-gallery-05.jpg' %}" data-lightbox="gallery-footer">
					<img src="{% static 'images/photo-gallery-thumb-05.jpg' %}" alt="GALLERY">
				</a>

				<a class="item-gallery-sidebar wrap-pic-w" href="{% static 'images/photo-gallery-06.jpg' %}" data-lightbox="gallery-footer">
					<img src="{% static 'images/photo-gallery-thumb-06.jpg' %}" alt="GALLERY">
				</a>

				<a class="item-gallery-sidebar wrap-pic-w" href="{% static 'images/photo-gallery-07.jpg' %}" data-lightbox="gallery-footer">
					<img src="{% static 'images/photo-gallery-thumb-07.jpg' %}" alt="GALLERY">
				</a>

				<a class="item-gallery-sidebar wrap-pic-w" href="{% static 'images/photo-gallery-09.jpg' %}" data-lightbox="gallery-footer">
					<img src="{% static 'images/photo-gallery-thumb-09.jpg' %}" alt="GALLERY">
				</a>

				<a class="item-gallery-sidebar wrap-pic-w" href="{% static 'images/photo-gallery-10.jpg' %}" data-lightbox="gallery-footer">
					<img src="{% static 'images/photo-gallery-thumb-10.jpg' %}" alt="GALLERY">
				</a>

				<a class="item-gallery-sidebar wrap-pic-w" href="{% static 'images/photo-gallery-11.jpg' %}" data-lightbox="gallery-footer">
					<img src="{% static 'images/photo-gallery-thumb-11.jpg' %}" alt="GALLERY">
				</a>
			</div>
		</div>
	</aside>